name: CI
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
jobs:
  lint-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Node setup
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install tooling
        run: npm install
      - name: Prettier check
        run: npx prettier -c "**/*.{js,ts,html,md,json,yml,yaml,xml}"
      - name: Lint (if src exists)
        run: |
          if [ -d "force-app" ]; then npx eslint "force-app/**/*.js"; fi
  sfdx-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli
      - name: Install Salesforce Code Analyzer
        run: sf plugins install @salesforce/sfdx-scanner
      - name: Scan (if apex exists)
        run: |
          if [ -d "force-app" ]; then sf scanner run --target "force-app" --format table; fi
